source https://api.nuget.org/v3/index.json

storage: none
git https://github.com/vincentremond/Pinicola.FSharp.git main build: "dotnet pack -o nupkg", Packages: /nupkg/

nuget FSharp.Core
nuget YamlDotNet

nuget Pinicola.FSharp
nuget Pinicola.FSharp.SpectreConsole
group Tests

storage: none
source https://api.nuget.org/v3/index.json
nuget coverlet.collector
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter
